<!-- <p>dashboard works!</p> -->
<div class="containera" >
    <div class="nav">
        <img src="../../../assets/img/logo-1.png" alt="arguosft-logo">  <h1 class="title">Pay Slip Generator</h1>
    </div>

    <section>

        <!-- create new template section -->
        <button class="new-section" (click)="gotoeditor()">
            <img src="../../../assets/img/clarity_add-line.svg" alt="">
            New Template
        </button>

        <hr>

        <!-- templates section -->
        <div class="templates">
            <div class="section-title">
                <h1>Existing Templates</h1>
                <button class="btn-delete-all">
                    <img src="../../../assets/img/mdi_delete.svg" alt="">
                    Delete All
                </button>
            </div>

            <ol class="templates-list">
                <!-- create a component for <li> -->
                <li>
                    <div class="list-item">
                        <div class="item-header">
                            Pay Slip Template 1
                            <div class="item-controls">
                                <button title="edit">
                                    <img src="../../../assets/img/ci_file-edit.svg" alt="">
                                </button>
                                <button title="delete">
                                    <img src="../../../assets/img/material-symbols_delete-forever-rounded.svg" alt="">
                                </button>
                            </div>
                        </div>
                        <span>06 April</span>
                    </div>
                </li>
                <li>
                    <div class="list-item">
                        <div class="item-header">
                            Pay Slip Template 2
                            <div class="item-controls">
                                <button title="edit">
                                    <img src="../../../assets/img/ci_file-edit.svg" alt="">
                                </button>
                                <button title="delete">
                                    <img src="../../../assets/img/material-symbols_delete-forever-rounded.svg" alt="">
                                </button>
                            </div>
                        </div>
                        <span>06 April</span>
                    </div>
                </li>
                <li>
                    <div class="list-item">
                        <div class="item-header">
                            Pay Slip Template 3
                            <div class="item-controls">
                                <button title="edit">
                                    <img src="../../../assets/img/ci_file-edit.svg" alt="">
                                </button>
                                <button title="delete">
                                    <img src="../../../assets/img/material-symbols_delete-forever-rounded.svg" alt="">
                                </button>
                            </div>
                        </div>
                        <span>06 April</span>
                    </div>
                </li>

            </ol>
        </div>
    </section>
</div>