/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,600;1,700&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    outline: 0;
    border: 0;
    margin: 0;
    padding: 0;  
}
button{
    cursor: pointer;
}
.containera{
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-right: 0px;
}
:root{
    --color-primary : #903564;
}

.nav{
    display: flex;
    background-color: #FDF3F8;
    padding: 24px 256px;
}

section{
    padding: 24px 256px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.new-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 48px 0px;
    border-radius: 8px;
    background-color: #F8F8F8;
    color: #737373;
    font-weight: 600;
}

.new-section img{
    width: max-content;
}

hr{
    background-color: #DFC6D3;
    width: 100%;
    height: 2px;
}

.section-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title h1{
    width: max-content;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-primary);
    padding: 4px 0px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}

.btn-delete-all{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    line-height: 140%;
    color: #B63434;
    background-color: #FDEBEB;
    font-weight: 600;
    font-size: 16px;
    height: min-content;
    padding: 6px 12px;
    border-radius: 4px;
}

.templates-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}


/* ************************** */
/* list item component css */

li{
    background-color: #F6F6F6;
    border-radius: 4px;
}
.list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 16px;
}
.item-header{
    display: flex;
    align-items: center;
    gap: 24px;
}

.item-controls{
    display: flex;
    align-items: center;
    gap: 12px;
    height: 24px;
}