.main-title {
    margin-top: 10px;
}

.images-item {
    width: 48%;
    cursor: pointer;
    -webkit-transition: .5s ease;
    -webkit-transition: .5s ease;
    padding: 3px;
    max-width: 120px;

    &:hover {
        opacity: 0.7;
    }
}

.images-item-upload {
    width: 80%;
    cursor: pointer;
    padding-bottom: 10px;
    -webkit-transition: .5s ease;
    -webkit-transition: .5s ease;

    &:hover {
        opacity: 0.7;
    }
}

.custom-item {
    border-bottom: 2px solid #f3f3f3;

    .custom-item-title {
        color: #666666;
        font-weight: 600;
    }

    .custom-item-body {
        padding: 10px 0;
    }
}

.max-height {
    overflow: auto;
    max-height: 300px;
}

.head-section{
    padding: 24px 0px;
}
.head-section input{
    font-weight: 700;
    font-size: 28px;
    padding: 8px 16px;
    color: #903564;
    border: 1px solid #d3b6c5;
    border-radius: 4px;
}
.add-text-group{
    height: max-content;
    border-radius: 4px;
}

.add-text-group input{
    padding: 4px 8px;
}
/* add button */
button{
    border: 0;
    outline: 0;
    background-color: #903564;
    color: #fff;
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 4px;
}
.add-text-group button{
    border: 0;
    outline: 0;
    background-color: #903564;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: min-content;
    padding: 8px;
    border-radius: 0px 4px 4px 0px;
}

.btn-close{
    color: #F30303;
    background-color: #FEF1F1;
    font-size: 18px;
}